

/* Classes Globals i Shop */

	body {
		font-family: 'PT Sans', sans-serif;
	}

	.navbar-brand,
	.modal-titol,
	h1, h5 {
		font-family: 'Dancing Script', cursive;
	}

	p {
		letter-spacing: .15rem;
		word-spacing: .3rem;
	}

	.navbar-brand {
		background-color: rgb(124, 14, 0);
	}
	
	.capsa-sup {

		height: 18rem;
		margin-top: 8.2rem;
		background-image: url("../img/pexels-andrea-piacquadio-1050244.jpg");
		background-position: center top;
	}

	.capa {

		background-color:rgba(58, 54, 50, .5);
		width: 100%;
		height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	}

	.linia {
		height: .1rem;
	}

	.card {
		border-color: white;
		width: 16rem;
	}

	img {
		height: 12rem;
	}
	
	th {
		font-weight: 100;
	}

	.nav-link:hover,
	.btn:hover {

		color: #ffffff !important;
		border-radius:.2rem;
		animation: opac .45s ease-in forwards;
	}

	.btn:hover .badge {
		color:rgba(0, 0, 0) !important;
		background-color: #ffffff !important;
	}

	.card:hover {
		animation: opac2 .4s ease-in forwards;
	}

	.social-icon:hover {
		animation: gir .5s ease-in forwards;

	}

/* 	Animacions hover, social-icons i badge */
	@keyframes opac{

		100% {
			background-color: rgb(124, 14, 0);
		}
	}

	@keyframes opac2 {

    100% {
			border-color: rgb(124, 14, 0);
    }
	}

	@keyframes gir {

    100% {
			transform: rotate(360deg);
			color: rgb(211, 35, 12);
    }
	}

	/* Media Query obligat per quan salta el navbar fixed-top a column */
	@media (min-width: 435px) {

		.capsa-sup {
			margin-top: 5.2rem;
		}
	}

	@media (min-width: 992px) {

		.capsa-sup {
			height: 24rem;
		}

		.nav-link {

			font-size: 1.1rem !important;
		}
	}

	/* Classes Checkout */
	.bg-checkout{
		background-color: rgb(124, 14, 0) !important;
	}

	td, .total-price span {
		color:rgb(124, 14, 0) !important;
	}

	.color-vora {
		border-color:rgb(124, 14, 0) !important;
	}

	/* Media Query obligat per canviar tamany de lletra*/
	@media (max-width: 576px) {

		header h3 {
			font-size: 1.1rem;
		}
	}