// Fonts
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-variable.ttf");
}

@font-face {
  font-family: "NewYork";
  src: url("../fonts/newyork.otf");
}

// Variables
$primary: #8563ce;

// General styles
body {
  font-family: "Inter";
}

h1 {
  font-family: "NewYork", "Times New Roman", Times, serif;
  font-size: 5em;
}

h2 {
  color: #403737;
  font-size: 2em;
  font-weight: bold;
}

.lead {
  font-size: 1em;
  letter-spacing: 2px;
}
